.background {
    height: 500px;
    background-color: lightblue;
}

.center {
    padding-top: 250px;
}

.about-me {
    margin-top: 500px;
}

.intro {

}

.self {
    width: 500px;
    height: 1;
}

.projecten {
    margin-top: 710px;
}

.cards {
    margin-top: 40px;
}

.image {
    width: 20px;
    
}