.background {
    height: 500px;
    background-color: lightblue;
}

.center {
    padding-top: 250px;
}

.about-me {
    margin-top: 500px;
}

.intro {

}

.self {
    width: 500px;
    height: 1;
}

.projecten {
    margin-top: 710px;
}

.cards {
    margin-top: 40px;
}

.tetris {
    width: 320px;
    height: 350px;
}

.higher-or-lower {
    width: 370px;
    height: 250px;
}

.webcatalogue {
    width: 370px;
    height: 250px;
}