.background {
    height: 500px;
    background-color: lightblue;
}

.lightblue {
    background-color: lightblue;
}
.center {
    padding-top: 250px;
}

.about-me {
    margin-top: 500px;
}

.intro {

}

.self {
    width: 500px;
    height: 1;
}

.projecten {
    margin-top: 800px;
}

.cards {
    margin-top: 40px;
    background-color: black;
}

.tetris {
    width: 320px;
    height: 350px;
}

.widescreen {
    width: 370px;
    height: 250px;
}

.about-project {
    margin-top: 710px;
}

.info {
    margin-left: 100px;
}

body {
    background-color: black;
}

.icon {
    color: white;
}

.contact {
    margin-top: 700px;
}

.content {
    height: 600px;
    margin-top: 0px;
}